.topborder {
    border-top: #cccccc 3px solid;
    height: 40px;
    background-color: #dddddd;
}

.articletitle {
    padding: 20px 0px;
}

#kevinpic {
    width: 100%;
}

.pagebackground {
    background-color: #dddddd;
    height: 1000px;
}

.articlebox {
    background-color: #ffffff;
    padding: 20px 0px 50px 0px;
}

.articletitle {
    color: #4aaaa5;
    padding-bottom: 10px;
    border-bottom: 3px solid #dddddd;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}

.articlecontent {
    padding-top: 10px;
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.data {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 6px;
    line-height: 2;
    width: 100%;
}

#messagebox {
    height: 300px;
}

.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 8px 32px;
    font-size: 20px;
}

.portfolioimg {
    height: 200px;
}

.portfoliobox {
    position: relative;
}

.imgbox {
    position: absolute;
    left: 15px;
    top: 150px;
    width: 200px;
    height: 36px;
    text-align: center;
    padding-top: 2px;
    background-color: #4aaaa5;
    color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80px;
    width: 100%;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    color: white;
    text-align: center;
}

.footertext {
    position: relative;
    top: 36px;
}